html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

}

.maincontent {
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 100%;


}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: baseline;
    box-shadow: rgba(237, 237, 233, 0.694) 0px 2px 1px;
    background-color: #adb5bd;
    height: 100px;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 45px;
    transform: translateX(720px);
}




.brandname {
    width: 210px;
    height: 120px;
    margin-left: 2rem;
    margin-top: -20px;
}


a {
    margin: 0 30px;
    text-decoration: none;
    color: #252422;
}

.backgroundintro {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, #ff0000,
            #021ff7);
    background-repeat: no-repeat;
    background-size: 100% 900px;
    filter: blur(3px);
    border: 3px solid white;
    margin: 0;
}

.introcontent {
    position: relative;
    z-index: 1;
    top: 300px;
    right: 5px;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.welcomeintro {
    font-weight: 300;
    font-size: 2.3rem;
    width: 100%;
    height: 300px;
    white-space: pre;
    animation-name: slideup, fadein;
    animation-duration: 2s, 2s;
    animation-iteration-count: 1, 1;
}

@keyframes slideup {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.infocontent {
    transform: translateY(600px);
    border-bottom: 2px solid black;
}

.aboutwebsite {
    font-size: 1.5rem;
    font-weight: 500;
    width: 1000px;
    height: 300px;
    text-align: center;
    transform: translate(260px, -70px);
    color: #0a0908;
}

.image {
    position: relative;
    left: 450px;
}

.persondetailadd {
    position: relative;
    top: 700px;
    display: none;
}

.newform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid white;
    background-color: #adb5bd;
    border-radius: 10px;
    padding-top: 10px;
    transform: translateY(-50px);
}

.heading2 {
    margin: 10px;
    margin-top: 18px;
    margin-left: 100px;
    font-size: 1.5rem;
    font-weight: 300;
}

.add {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 100px;
    padding: 10px 30px;
    border: 2px solid #3a86ff;
    color: white;
    background-color: #3a86ff;
    border-radius: 8px;
    font-weight: 200;
    font-size: 1.2rem;
    transition: 0.3s;
}

.add:hover {
    outline: 5px solid #3a86ff;
    outline-offset: 5px;
    transform: scale(0.8);
}

#preloader {
    background: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
    top: 36%;
    left: 43%;
}

.loader:before,
.loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
}

.loader:before {
    left: 4px;
}

.loader:after {
    --r: 6deg;
    right: 4px;
}

.loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
}

.loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
}

.loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
}

.loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
}

.loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
}

.loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
}

.loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
}

.loader div ul li:last-child {
    --o: 1;
}

.loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
}

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%,
    100% {
        opacity: 0;
    }

    50%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }

    65%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%,
    100% {
        opacity: 0;
    }

    80%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }

    95%,
    100% {
        transform: rotateY(0deg);
    }
}